<html>
  <head>
    <title>codeimage</title>
  </head>
  <body>
    <img src="{{img-src}}" style="float:left">
    <table>
      {{#values}}
      <tr>
        <td><p>{{label}}</p></td><td style="background:{{color}};min-width:1em;"></td>
      </tr>
      {{/values}}
    </table>
  </body>
</html>
